//flex row

@mixin flex-row($gap:1rem){
    display: flex;
    flex-direction: row;
    gap:$gap
}

//flex column
@mixin flex-column($gap:1rem){
    display: flex;
    flex-direction: column;
    gap:$gap
}

@mixin  flex-col-reverse($gap:1rem) {
    display: flex;
    flex-direction: column-reverse;
    gap:$gap
}